// COLORS

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-pink:rgb(255, 38, 143,);
$color-golden:rgb(254, 253, 39);

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #bbbbbb;
$color-grey-dark: #777;
$color-grey-dark-3: #333;
$color-grey-dark-2: rgba(153, 153, 153, 0.934);

$color-white:#fff;
$color-black: #000;
 
$color-form-input: rgb(86, 255, 71) ;


// GRID

$grid-width: 114rem;

$gutter-vertical: 80px;

$gutter-horizontal: 20px;

$gutter-horizontal-s: 30px;