.navigation_2{

    font-family: lato;

    &_checkbox{
        display: none;
    }

    &_button{
         background-color: rgba(153, 153, 153, 1.0);
         height: 4rem;
         width: 4rem;
         position: fixed;
         top:3rem; 
         right: 9rem;
         border-radius: 50%;
         z-index: 2000;
         box-shadow: 0 1rem 3rem rgba(black,.1);
         cursor: pointer;


    }

    &_background{
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        position: fixed;
        top:3.4rem;
        right: 9.35rem; 
        background-image: radial-gradient(rgba(255, 38, 143,1),
        rgba(0, 0, 0, 0.714));
        z-index: 1000;
        transition: all .8s cubic-bezier(0.86,0,0.07,1);

    }

    &_nav{
        font-family: inherit; 
        height: 100vh;
        width: 0%;
        position: fixed;
        top:0;
        left: 0;
        z-index: 1500;
        opacity: 0;
        text-align: center;
        transition: all .8s cubic-bezier(0.68,-0.55,0.265,1.55);

    }

    &_list{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-50%,-50%);
        list-style: none;
        text-align: center;

    }

    &_item{
        margin: 1.5rem;

    }

    &_link-nav{

        &:link,
        &:visited{
        display: inline-block;
        font-size: 2.5rem;
        font-weight: 100; 
        padding: .4rem 2rem;
        color: white;
        text-decoration: none;
        text-transform: uppercase;

        background-image:linear-gradient(120deg,transparent 0%,transparent 50%,white 50%) ;
        background-size: 220%; 
        transition: all .4s; 
        }
         
        &:hover,
        &:active{
            background-position: 100%;    
            color: $color-primary;
            transform: translateX(.8rem);        
        }

    }

    &_checkbox:checked ~ &_background {
        transform: scale(80);
    }

    &_checkbox:checked ~ &_nav {
        opacity: 1;
        width: 100%; }

    &-lines{
        position: relative;
        margin-top: 2rem;
        margin-left: 16px;
        visibility: hidden;

        &,&::before,&::after{
            width: 2rem;
            height: 1.5px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::before,&::after{
            content: "";
            position: absolute;left:0px;
            transition: all .4s;
            cursor: pointer;
            visibility: hidden;
        }

        &::before{
            top:-.7rem;
        }

        &::after{
            top:.7rem;
        }
        
        &_checkbox:checked ~ &::before{
            transform: rotate(45deg);
            visibility: visible;
        }

    }

    &_button:hover &-lines:before{
        top:-.8rem;
        visibility: hidden;
    }

    &_button:hover &-lines:after{
        top:.8rem;
        visibility: hidden;
    }

    &_checkbox:checked + &_button &-lines{
        background-color: transparent;

    }

    &_checkbox:checked ~ &_button{
        background-color:rgb(209, 209, 209);
    }

    &_checkbox:checked ~ &_button &-lines::before{
        top:0;
        transform: rotate(135deg);
        visibility: visible;            
    } 

    &_checkbox:checked ~ &_button &-lines::after{
        transform: rotate(-135deg);    
        top:0;
        visibility: visible;
    }

    &_usericon{
        font-size: 2.5rem;
        color:rgb(255, 255, 255);
        z-index: 1500;
        visibility: visible;
        position: inherit;
        top:-1rem; 
        right: 4px;
    }

    &_checkbox:checked ~ &_button &-lines &_usericon{
        font-size: 0rem;
        z-index: -1;
        color:transparent;
    }

    &_username{
        position: fixed;
        z-index: 99000;
        right: 9.7rem; 
        top: 6.4rem;
        font-family: lato;
        
        color: rgb(202, 50, 50);
    }

}


.navigation_2-icon{
    font-weight: 100;
}
